.titlepagename
{
  font-family: segoe ui;
  background-color: #fcf6b8;
  height:200px;
  width: 100%;
  margin-bottom: 10;
  margin-top: 0;
  padding: 0;
}
.tableheader
{
  border-right: 1px solid black;
  border-spacing: 2px;
  padding: 10px;
  font-weight: 100;
}

#topnavtab
{
  margin-right: 100px;
  margin-left: auto;
  position:relative;
  top: -130px;
  border-right: 3px;
  font-weight: lighter;

}

#titlepagetext
{
  line-height: 4em;
  position: relative;
  left: 200px;
  font-size: 1.5em;

}

body{
  margin: 0 !important;
  padding: 0 !important;
}
